<header class="bar bar-nav">
    <a class="mybaricon icon-left-arrow pull-left" href="#/index"></a>
    <a id="home-button" class="mybaricon icon-home pull-right" ng-click="sidebartoggle()"></a>
</header>

<div class="content" >
    <a href="#/article" ng-repeat="schoolpost in school.posts" ng-click="articleappear()">
        <div class="post-block" style=" background-image: url('{{schoolpost.image}}');">
            <div class="post-description">
                {{headerwords()}}
            </div>
        </div>
    </a>
</div>

<div id="loading-school" class="loading-page"></div>
